
  #urlsTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 45%;
    margin-left: 400px;
  }
  
  #urlsTable td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #urlsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #urlsTable tr:hover {background-color: #ddd;}
  
  #urlsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }